[submodule "textmodes/adoc-mode"]
	path = textmodes/adoc-mode
	url = https://sensorflo@github.com/sensorflo/adoc-mode.git
  update = merge
[submodule "textmodes/bbcode"]
	path = textmodes/bbcode
	url = https://sensorflo@github.com/sensorflo/bbcode.git
  update = merge
[submodule "textmodes/markup-faces"]
	path = textmodes/markup-faces
	url = https://sensorflo@github.com/sensorflo/markup-faces.git
  update = merge
[submodule "textmodes/doxym-mode"]
	path = textmodes/doxym-mode
	url = https://sensorflo@git.gitorious.org/doxym-mode/doxym-mode.git
  update = merge
[submodule "misc/mks"]
	path = misc/mks
	url = https://sensorflo@github.com/sensorflo/mks.git
  update = merge
[submodule "misc/tempo-ext"]
	path = misc/tempo-ext
	url = https://sensorflo@git.gitorious.org/tempo-ext/tempo-ext.git
  update = merge
[submodule "progmodes/doxymacs"]
	path = progmodes/doxymacs
	url = https://sensorflo@git.code.sf.net/p/doxymacs-fork/code
  update = merge
[submodule "misc/font-lock-ext"]
	path = misc/font-lock-ext
	url = https://sensorflo@github.com/sensorflo/font-lock-ext.git
  update = merge
[submodule "misc/logfile-mode"]
	path = misc/logfile-mode
	url = https://sensorflo@git.gitorious.org/logfile-mode/logfile-mode.git
  update = merge
[submodule "misc/find-file-ext"]
	path = misc/find-file-ext
	url = https://sensorflo@git.gitorious.org/logfile-mode/find-file-ext.git
  update = merge
[submodule "misc/icicles"]
	path = misc/icicles
	url = https://sensorflo@github.com/sensorflo/icicles.git
[submodule "misc/tempo"]
	path = misc/tempo
	url = https://sensorflo@github.com/sensorflo/tempo.git
[submodule "progmodes/autoexp-mode"]
	path = progmodes/autoexp-mode
	url = https://github.com/sensorflo/autoexp-mode.git
[submodule "progmodes/sln-mode"]
	path = progmodes/sln-mode
	url = https://github.com/sensorflo/sln-mode.git
